<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Tamagotchi Main</title>
<head>
<body>
    <div class="container">
        <header>
            <h1>Remember Tamagotchi?!?</h1>
        </header>
            <h3>I do. It was a "game" from my childhood. It was pretty ridiculous. Anyway, you can recreate the Tamagotchi experience right here, right now! Just enter a name to create a little digital pal.</h3>
            <br>
            <form class="form-group" action="/main">
                <h4 for="tamagotchi_name">Create a name for your Tamagotchi</h4>
                <input id="tamagotchi_name" class="form-control" type="text" name="tamagotchi_name" placeholder="enter your new pet's name here...">
                <br>
                <button class="btn btn-info" type="submit">Create Your Tamagotchi!</button>
            </form>
    </div>
</body>
