<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Oi Here's The Page</title>
<head>
<body>
    <div class="container">
        <header>
            <h1>Remember Tamagotchi?!?</h1>
        </header>
    </div>
</body>
