<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Tamagotchi Sleep</title>
<head>
<body>
    <div class="container">
        <header>
            <h1>Remember Tamagotchi?!?</h1>
        </header>

        <h3>You have let your your Tamagotchi sleep for once, they will say thank you when they wake up!</h3>
        <a href="/main">Back to Main Page</a>
    </div>
</body>
